html, body {
  background: url("../images/black-pattern-wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
	color: white;
}

body {
  color: white;
  width: 60%;
	font-family: 'Quicksand', sans-serif;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	line-height: 1.8;
  text-align: center;
}

img {
  width: 70%;
  height: auto;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: .4em;
  font-weight: bold;
  font-size: 8em;
  font-stretch: expanded;
  text-transform: capitalize;
}

h2 {
	font-family: 'Baloo Thambi', cursive;
	margin-bottom: .2em;
  font-size: 2em;
}

a {
	color: rgb(184, 126, 84);
}

a:hover, a:visited, a:active {
	color: rgb(120, 97, 55);
}

table {
	margin-top: 1em;
  border: 1px grey solid;
  margin-left: 180px;
}

td, th, tr {
	padding: 10px;
}

td {
  border: 1px grey solid;
}

.center {
	text-align: center;
}

header {
	padding-bottom: .2em;
	border-bottom: 2px solid gray;
  height: 100vh;
}

header p {
  font-size: 1.5em;
}


#submit_button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #F559C4;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20%
}

#submit_button:hover {
    background-color: #73055C;
    color: white;
}

#list {
  display: none;
}

#email_input {
  margin-left: 5px;
}

textarea {
  width: 15.5em;
  min-height: 5em;
  overflow: scroll;
}

footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
  margin-top: 1em;
	padding: 3em;
}
