html, body {
	background: #80AEA8; /* Light Blue */
	margin: 0;
}

h1, h2 {
	color: #0A1927; /*Dark Blue*/
}

body {
  background: #CCDACD; /*Lighter Blue*/
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	line-height: 1.8;
}

img {
  width: 182px;
  height: 268px;
}

h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
  font-weight: bold;
}

h2 {
	font-family: 'Indie Flower', cursive;
	margin-bottom: .2em;
  font-weight: bold;
  font-size: 3em;
}

a {
	color: rgb(184, 126, 84);
}

a:hover, a:visited, a:active {
	color: rgb(120, 97, 55);
}

table {
	margin-top: 1em;
  border: 1px black solid;
}

td, th, tr {
	padding: 10px;
  border: 1px black solid;
}

.center {
	text-align: center;
}

header {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}

header p {
  font-style: italic;
}

#submit_button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submit_button:hover {
    background-color: #002340;
    color: white;
}

footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
  margin-top: 1em;
	padding: 3em;
}
